@import "tailwindcss";

@theme {
  --color-bn-gold-light: #ebc78a;
  --color-bn-gold-dark: #b99153;
  --color-bn-gold-hover: #EACD8C;
  --color-bn-black: #0b1326;
  --color-bn-silver: #cbd5e1;
  --color-bn-paper: #f8fafc;

  --background-bn-gold-gradient: linear-gradient(to right, #B88A44, #EACD8C, #B88A44);
  
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 64rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
}

@utility bg-bn-gold-gradient {
  background: var(--background-bn-gold-gradient);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'LoraBold';
  }
  p, span, a, li, div {
    color: var(--color-bn-gold-dark);
  }
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0b1326;
}

