@import "tailwindcss";

@font-face {
  font-family: 'LoraBold';
  font-display: swap;
  src: url('/fonts/Lora-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'LoraMedium';
  font-display: swap;
  src: url('/fonts/Lora-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'LoraRegular';
  font-display: swap;
  src: url('/fonts/Lora-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'RalewayRegular';
  font-display: swap; 
  src: url('/fonts/Raleway-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'RalewayMedium';
  font-display: swap; 
  src: url('/fonts/Raleway-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'RalewayBold';
  font-display: swap; 
  src: url('/fonts/Raleway-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'RalewayLight';
  font-display: swap; 
  src: url('/fonts/Raleway-Light.woff2') format('woff2');
}

@layer utilities {
  .bg-bn-gold-gradient {
    background: linear-gradient(to right, #B88A44, #EACD8C, #B88A44);
  }
  .font-lora-bold {
    font-family: 'LoraBold';
  }
  .font-lora-medium {
    font-family: 'LoraMedium';
  }
  .font-lora-regular {
    font-family: 'LoraRegular';
  }
  .font-raleway-regular {
    font-family: 'RalewayRegular';
  }
  .font-raleway-medium {
    font-family: 'RalewayMedium';
  }
  .font-raleway-bold {
    font-family: 'RalewayBold';
  }
  .font-raleway-light {
    font-family: 'RalewayLight';
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'LoraBold';
  }
  p, span, a, li, div {
    font-family: 'RalewayRegular';
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0b1326;
}

